<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>    

<!--debug de posição e espaçamento-->
  <style> .borda_teste{
    border: 1px solid red;
  height: fit-content; 
  width: fit-content; } 
  </style>
<!--Modelo padrão-->
<div class="borda_teste">
  {{body}} 
</div>

</body>
</html>